@import url(https://fonts.googleapis.com/css?family=Rubik:400,500);

/* ---------------------
    - Color & Element
    - Common Part
    - CCC(Choi Choi Custom)
--------------------- */

/* =====================
  Color & Element
===================== */
.brown {
  color: #C5A16C;
}
.pink {
  color: #EDAFCA;
}
.green {
  color: #9CC45A;
}
.young-bamboo-bg {
  background-color: #68be8d;
}
.young-bamboo {
  color: #68be8d;
}
.btn-green {
    color: #fff;
    border-color: #68be8d;
    background-color: #68be8d;
    box-shadow: none;
}
body {
  font-family: 'Rubik', Poppins, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,"Helvetica Neue", Arial, sans-serif;
}
p {
  line-height: 2em;
  font-size: 1.25rem;
  font-weight: 400;
  letter-spacing: 1.1px;
}
strong {
  line-height: 2em;
  font-size: 1.25rem;
  letter-spacing: 1.1px;
}
img {
  max-width: 100%;
}
/* =====================
  Common part
===================== */
.section-title {
  position: relative;
}
.section-title:after {
  content: '';
  width: 30px;
  height: 2px;
  background: #68be8d;
  position: absolute;
  left: 50%;
  margin-left: -15px;
  bottom: -20px;
}
.navbar {
  margin-bottom: 0 !important;
}
section.gray {
  background: #f9fafc;
  padding-bottom: 1.5rem!important;
  padding-top: 1.5rem!important;
}
/* =====================
  CCC(Choi Choi Custom)
===================== */
/* header */
li.nav-item {
  margin-right: 10px;
}

/* top */
section#top {
  position: relative;
  height: 95vh;
  min-height: 700px;
  background: url(../images/top-bg.jpg) no-repeat center center fixed;
  background-size: cover;
}
section#top::before {
  position: absolute;
  z-index: 0;
  content: '';
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: .8;
  background: #10732d;
}
h1.welcome-heading {
  font-size: 5.4rem;
  font-weight: 500;
  letter-spacing: 0.02em;
}
/* about */
.misson-wrapper {
  padding: 15px;
}
.mission-image {
  margin-bottom: 30px;
}
/* member */
section#member {
  padding-bottom: 1.5rem!important;
}
section#member p {
  line-height: 1.25rem;
  font-size: 0.8rem;
}
.avatar {
  max-width: 80px;
  overflow: hidden;
}
/* blog */
td a {
  text-align: center;
}
/* contact */
div.iframeWrapper {
  position: relative;
  width: 100%;
  padding-top: 75%;
}
div.iframeWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
/* join */
#join {
  height: 90px;
}
#join .container {
  margin-top: 30px;
  height: 100%;
}

/* =====================
  Responsive Style
===================== */
@media screen and (max-width: 480px) {
/* top */
h1.welcome-heading {
  font-size: 4.2rem;
  font-weight: 500;
  letter-spacing: 0.02em;
}
}